*.swp
*~
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/compile
/build-aux/libtool.m4
/build-aux/ltoptions.m4
/build-aux/ltsugar.m4
/build-aux/ltversion.m4
/build-aux/lt~obsolete.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
/tests/Makefile.in
/tests/atconfig
/tests/atlocal
/tests/package.m4
