*~
*.swp
INSTALL
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
build-aux/libtool.m4
build-aux/ltoptions.m4
build-aux/ltsugar.m4
build-aux/ltversion.m4
build-aux/lt~obsolete.m4
config.h.in
configure
config.h
config.log
config.status
libtool
stamp-h1
tests/atconfig
tests/atlocal
tests/package.m4
tests/Makefile.in
