/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/libtool.m4
/build-aux/ltoptions.m4
/build-aux/ltsugar.m4
/build-aux/ltversion.m4
/build-aux/lt~obsolete.m4
/config.h.in
/configure
/tests/Makefile.in
