language: cpp
compiler:
  - gcc
  - clang
matrix:
  allow_failures:
    - compiler: clang
addons:
  apt:
    packages:
      - libboost-all-dev
      - ccache

script:
  - export PATH=/usr/lib/ccache:$PATH
  - autoreconf -fi
  - ./configure
  - make check || (cat tests/testsuite.log; false)
